body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}
.card {
  background: white;
  box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.1);
  padding: 10px;
  margin: 5px 2px;

  text-align: center;
  font-size: 25px;
}
.title {
  text-align: center;
  padding: 30px;
  font-size: 40px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-weight: bold;
  color: #fff;
}
